body, html{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  /*background: rgb(237, 245, 225);*/
  background: rgb(249, 249, 249);
  color: rgb(31, 31 ,31);
}

/* GLOBAL */
.primary-btn{
  padding: 0.9em;
  color: #fff;
  background: #0f85d1;
  border: 1px solid #0f85d1;
  /*background: rgb(5, 57, 107);
  border: 1px rgb(5, 57, 107);*/
  border-radius: 3px;
}
.primary-btn:hover{
  background: #066CAF;
}

input[type=text], input[type=password], input[type=email]{
  width: 91%;
  padding: 0.8em;
  margin: 0.3em;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 3px;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus{
  outline: none;
  border: 2px solid #0f85d1;
  /*box-shadow: 0 0 0 1px rgb(55, 150, 131);*/
}
input[type=text]:hover, input[type=password]:hover, input[type=email]:hover{
  border: 2px solid #3498db;
}

a, visited{
  /*color: rgb(15, 89, 161);*/
  /*color: #3498db;*/
  color: rgb(239, 239, 239);
  text-decoration: none;
  font-size: 0.8em;
}
a:hover{
  color: #fff;
  /*color: #0f85d1;*/
  text-decoration: underline;
}

.primary-link, visited{
  background: #0f85d1;
  color: #fff;
  border-radius: 2px;
}
.primary-link:hover{
  background: #066CAF;
  /*background: red;*/
  text-decoration: underline;
}

.tag{
  padding: 0.1em 0.5em;
  font-size: 0.7em;
  color: rgb(73, 73, 73);
  border-radius: 2px;
  background: rgb(224, 224, 224);
}


/* LOGO */
.logo{
  position: absolute;
  left: 3em;
  top: 0.8em;
}
.logo a, visited{
  text-decoration: none;
  color: #fff;
}
.logo img{
  width: 15%;
  top: 0;
  /*border: 1px dotted white;*/
}


/* NAVIGATION BAR */
nav img {
  /*border: 1px dotted black;*/
  position: relative;
  /*top: -0.8em;*/
  /*left: -4.1em;*/
}
.top-nav{
  height: 4.2em;
  margin: 0;
  padding: 0;
  /*border-bottom: 2px solid rgb(5, 57, 107);*/
  background: #0f85d1;
  /*border-bottom: 1px solid rgb(224, 224, 224);*/
}

.top-nav .acc-settings{
  position: absolute;
  top: 4.2%;
  right: 2%;
  width: 14%;
  text-align: center;
  /*border: 1px dotted black;*/
}
.top-nav .acc-settings .username{
  color: #fff;
}
.top-nav .acc-settings .username > a{
  font-size: 1em;
}
.top-nav .acc-settings:hover .dropdown{
  display: block;
}
.top-nav .acc-settings .dropdown{
  display: none;
  border: 1px solid rgb(224, 224, 224);
  background: #fff;
  margin-top: 1.5em;
  text-align: center;
}

.top-nav .acc-settings .dropdown a, visited{
  text-decoration: none;
  color: #0f85d1;
  border: 1px solid rgb(224, 224, 224);
  display: block;
  padding: 0.5em;
  /*border: 1px dotted purple;*/
}
.top-nav .acc-settings .dropdown a:hover{
  background: #0f85d1;
  color: #fff;
}

.top-nav ul{
  display: flex;
  list-style: none;
  /*border: 1px dotted red;*/
  width: 20%;
  line-height: 4em;
  float: right;
  margin: 0;
  padding: 0;
}
.top-nav ul li a, visited{
  font-weight: 500;
  text-decoration: none;
  padding: 0.9em;
  font-size: 0.8em;
}

.top-nav ul li a > i{
  font-size: 1.2em;
}



/* REGISTRATION FORM */
.registration-form{
  font-size: 1em;
  width: 30%;
  padding: 1.2%;
  margin: 5% auto;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgb(229, 229, 229);
}
.registration-form h2{
  text-align: center;
}

.registration-form a, visited {
  color: #3498db;
  padding: 0.8em;
  margin: 0.3em;
}

.registration-form .reg-btn{
  text-transform: uppercase;
  width: 97%;
  margin: 0.6em 0.3em;
  display: block;
}
.registration-form .reg-form-footer{
  margin: 0.3em;
  padding: 0.8em 0.2em 0.8em;
  font-size: 0.8em;
  color: rgb(100, 100, 100);
}


/* LOGIN FORM*/
.login-form{
  font-size: 1em;
  width: 30%;
  padding: 1%;
  margin: 10% auto;
  background: #fff;
  border-radius: 4px;
  border: 2px solid rgb(224, 224, 224);
}
.login-form h3{
  text-align: center;
}

.login-form a, visited {
  color: #0f85d1;
  padding: 0.8em;
  margin: 0.3em;
}
.login-form .create-acc-link{
   padding-left: 6em;
}

.login-form .login-btn{
  font-size: 0.8em;
  text-transform: uppercase;
  width: 97%;
  margin: 0.3em;
  display: block;
}


/* HOME PAGE*/
main .search{
  position: relative;
  /*border: 1px dotted black;*/
  width: 35%;
  margin: 1% auto;
}
main .search input{
  font-size: 0.9em;
  display: inline;
  width: 80%;
  margin-left: 8%;
  padding: 0.6em 0.5em;
  border-radius: 3px;
  border: 2px solid rgb(224, 224, 224);
}
main .search-btn{
  position: absolute;
  top: 14.5%;
  left: 81.5%;
  text-transform: uppercase;
  width: 10%;
  padding: 0.4em;
  background: #fff;
  color: rgb(5, 57, 107);
  border-radius: 3px;
}

main .post-job-link{
  /*border: 1px dotted black;*/
  margin-top: 4%;
}
main .post-job-link a, visited{
  margin-left: 74.5%;
  text-decoration: none;
  padding: 0.9em 0.9em;
  /*border: 2px solid rgb(15, 89, 163);*/
  background: #0f85d1;
  color: #fff;
  /*border: 2px solid rgb(15, 89, 161);*/
  border-radius: 2px;
}
main .post-job-link > a:hover{
  text-decoration: underline;
  background: #066CAF;
  /*color: rgb(5, 57, 107);*/
  /*border: 2px solid rgb(5, 57, 107);*/
}

main .search-btn{
  border: none;
  color: #0f85d1;
}
main .search-btn:hover{
  color: #fff;
}

main .job-posts {
  font-size: 0.95em;
  position: relative;
  text-align: center;
  /*border: 1px solid rgb(229, 229, 229);*/
  border: 2px solid rgb(224, 224, 224);
  border-radius: 3px;
  background: #fff;
  width: 55%;
  margin: 4% 30%;
  min-height: 20em;
}

main .job{
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 94%;
  margin: 1% auto;
  text-align: left;
  padding: 2% 2%;
}

main .job-header span{
  font-size: 0.8em;
  color: rgb(73, 73, 73);
  /*border: 1px dotted black;*/
  padding-left: 0.2em;
}
main .job-header .title{
  font-weight: 500;
  margin: 0.2em 0em;
  /*border: 1px dotted black;*/
}
main .job-header .title a{
  /*font-weight: 500;*/
  font-size: 1.18em;
  color: #0f85d1;
}
main .job-header .date-posted{
  font-size: 0.75em;
}

main .job .content{
  /*border: 1px dotted black;*/
  font-size: 0.9em;
}
main .job .content .check-out-job{
  margin-left: 80%;
  padding: 0.5em;
  font-size: 0.9em;
  border-radius: 2px;
}
main .job .content .check-out-job:hover{
  color: #fff;
}


/* PROFILE PAGE*/
.profile{
  min-height: 25em;
  /*border: 1px dotted black;*/
}
.profile .personal-info{
  position: relative;
  margin: 5% 8%;
  width: 32%;
  /*min-height: 20em;*/
  border-radius: 2px;
  border: 2px solid rgb(224, 224, 224);
  background: #fff;
}
.profile .personal-info .header{
  font-weight: 500;
  border: 2px solid #0f85d1;
  background: #0f85d1;
  color: #fff;
  border-radius: 2px;
  text-align: center;
}
.profile .personal-info .header img{
  width: 25%;
  position: absolute;
  top: -3%;
  left: 1%;
  /*border: 1px dotte d purple;*/
  border-radius: 50%;
}

.profile .personal-info table{
  font-size: 0.85em;
  border: 1px solid rgb(224, 244, 244);
  border-collapse: collapse;
  width: 99%;
  margin: 6% auto 2%;
}
.profile .personal-info table .email{
  color: #0f85d1;
}
.profile .personal-info table .email > i{
  font-size: 1.5em;
}

.profile .personal-info table td{
  border: 1px solid rgb(224, 224, 224);
  padding: 1%;
  width: 50%;
}
.profile .personal-info table td:first-child{
  width: 30%;
}



/* JOB-POST PAGE */
.job-form{
  position: relative;
  width: 45%;
  margin: 5% auto;
  padding: 0.8em;
  background: #fff;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 4px;
}
.job-form h2{
  text-align: center;
}
.job-form input{
  width: 94.5%;
}
.job-type .option{
  background: #fff;
  color: rgb(41, 41, 41);
}

.job-form textarea{
  max-width: 95.5%;
  margin: 0.3em;
  padding: 0.5em;
  font-size: 0.8em;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 4px;
}
.job-form textarea:focus{
  outline: none;
  border: 2px solid #0f85d1;
}
.job-form textarea:hover{
  border: 2px solid #3498db;
}

.job-form .salary{
  width: 70%;
  margin-left: 0.3em;
}

.job-form .job-type{
  /*float: right;*/
  padding: 0.5em;
  margin: 0.85%;
  color: #fff;
  background: #3498db;
  border: 1px solid #3498db;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('img/chevron_down.png');
}

.job-form .postjob-btn{
  text-transform: uppercase;
  bottom: 1%;
  margin: 0.8%;
  padding: 0.8em 1em;
}

/* JOB-VIEW PAGE */
.job-view{
  /*border: 1px dotted black;*/
  min-height: 40em;
}
.job-view .title{
  width: 50%;
  font-weight: 500;
  margin: 3% 10%;
}

.job-view .job-view-header{
  /*border: 1px dotted black;*/
  /*font-size: 0.8em;*/
  width: 55%;
  margin: 3% 10%;
}
.job-view .job-view-header span{
  /*border: 1px dotted black;*/
  padding-right: 0.4em;
  font-size: 0.85em;
}
.job-view .job-view-header span i {
  font-size: 1.5em;
}

.job-view .job{
  margin: 5% 10%;
  width: 50%;
  padding: 2%;
  background: #fff;
  border: 2px solid rgb(224, 224, 224);
}
.job-view .job .job-description{
  font-size: 0.95em;
}

.job-view .job .login-to-apply{
  position: relative;
  left: 50%;
  font-size: 0.85em;
  color: rgb(73, 73, 73);
}
.job-view .job .login-now{
  padding: 0.6em 0.7em;
  font-size: 0.9em;
}
.job-view .job .apply-now{
  padding: 0.6em 0.7em;
  position: relative;
  left: 85%;
}


/* PASSWORD RESET PAGE */
.password-reset{
  /*border: 1px dotted black;*/
  min-height: 25em;
}
.password-reset .reset-form{
  width: 27%;
  margin: 5% auto;
  padding: 0.4em;
  background: #fff;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 4px;
}
.password-reset .reset-form h2{
  text-align: center;
}
.password-reset .reset-form .reset-btn{
  margin: 1%;
  display: block;
  width: 97.6%;
}

/* MAIN FOOTER */
footer {
  margin: 0;
  color: rgb(178, 178, 178);
  padding: 1%;
  text-align: center;
  background: rgb(102, 102, 102);
  /*background: rgb(92, 219, 147);*/
}
