body, html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  background: rgb(250, 250, 250);
  color: rgb(31, 31 ,31);
}

/* NAVIGATION BAR */

.top-nav{
  /*border: 1px solid rgb(229, 229, 229);*/

  height: 3em;
  margin: 0;
  padding: 0;
  background: rgb(0, 150, 134);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.top-nav ul{
  display: flex;
  list-style: none;
  /*border: 1px dotted red;*/
  width: 20%;
  line-height: 3em;
  float: right;
  margin: 0;
  padding: 0;
}
.top-nav ul li a, visited{
  color: #fff;
  text-decoration: none;
  /*border: 1px dotted purple;*/
  padding: 0.9em;
  font-size: 0.85em;
}
.top-nav ul li a:hover{
  background: rgba(41, 41, 41, 0.1);
}

/* REGISTRATION FORM */
.registration-form{
  font-size: 1em;
  width: 30%;
  padding: 1.2%;
  margin: 5% auto;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgb(229, 229, 229);
}
.registration-form h2{
  text-align: center;
}

.registration-form a, visited {
  text-decoration: none;
  color: rgb(0, 150, 134);
  font-size: 0.8em;
  padding: 0.8em;
  margin: 0.3em;
}
.registration-form a:hover{
  text-decoration: underline;
}

.registration-form input{
  width: 91%;
  padding: 0.8em;
  margin: 0.3em;
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
}
.registration-form input:focus{
  outline: 1px solid rgb(0, 150, 134);
}

.registration-form .reg-btn{
  width: 97%;
  padding: 0.8em;
  margin: 0.6em 0.3em;
  display: block;
  color: #fff;
  background: rgb(0, 150, 134);
  border: 1px solid rgb(229, 229, 229);
  border-radius: 4px;
}
.registration-form .reg-btn:hover{
  background: rgb(0, 93, 83);
}
.registration-form .reg-form-footer{
  font-size: 0.8em;
  padding: 0.8em 0.2em 0.8em;
  margin: 0.3em;
}


/* LOGIN FORM*/
.login-form{
  font-size: 1em;
  width: 30%;
  padding: 1%;
  margin: 10% auto;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgb(229, 229, 229);
}
.login-form h3{
  text-align: center;
}

.login-form a, visited {
  text-decoration: none;
  color: rgb(0, 150, 134);
  font-size: 0.8em;
  padding: 0.8em;
  margin: 0.3em;
}
.login-form a:hover{
  text-decoration: underline;
}
.login-form .create-acc-link{
   padding-left: 6em;
}

.login-form input{
  width: 91%;
  padding: 0.8em;
  margin: 0.3em;
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
}
.login-form input:focus{
  outline: 1px solid rgb(0, 150, 134);
}

.login-form .login-btn{
  border: 1px solid rgb(229, 229, 229);
  border-radius: 4px;
  width: 97%;
  padding: 0.8em;
  margin: 0.3em;
  display: block;
  color: #fff;
  background: rgb(0, 150, 134);
  border: rgb(0, 150, 134);
}
.login-form .login-btn:hover{
  background: rgb(0, 93, 83);
}
